/* ------------------ */
/* Custom Properties  */
/* ------------------ */

:root{
  --background: #F6F8FF;
  --foreground: #FEFEFE;
  --primary-clr: #0079FF;
  --text-primary: #4B6A9B;
  --text-accent: #697C9A;
  --text-heading: #2B3442;
}

.darkMode{
  --background: #141D2F;
  --foreground: #1E2A47;
  --text-primary: #FFF;
  --text-accent: #FFF;
  --text-heading: #FFF;
}

/* ------------------ */
/* Reset              */
/* ------------------ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
picture,
figure {
  margin: 0;
  padding: 0;
}

/* Reset anchor decorations */
a {
  text-decoration: none;
  color: unset;
}

/* Make img easier to work with */
img,
picture {
  max-width: 100%;
}

/* Make form elements easier to work with */
input,
button,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

button{
  border: none;
  background-color: inherit;
  padding: 0;
}

ul{
  list-style: none;
}

body{
  font-family: "Space Mono", monospace;
  font-size: 13px;
  line-height: 1.65;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
}

@media (min-width: 768px) {
  body{
    font-size: 15px;
  }
}

/* ------------------ */
/* Typography         */
/* ------------------ */

h1{
  line-height: 1.5;
  color: var(--text-heading);
  font-weight: 700;
}

h2{
  line-height: 1.5;
  color: var(--text-heading);
  font-weight: 700;
}

h3{
  font-size: 1em;
  line-height: 1.5;
}

h4{
  font-size: 0.875em;
  line-height: 1.55;
}

/* ------------------ */
/* Utility            */
/* ------------------ */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.hidden{
  display: none;
}

.elements-container{
  background-color: var(--foreground);
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.1);
}


/* ------------------ */
/* Styles             */
/* ------------------ */

.main-container{
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .main-container{
    max-width: 35.625rem;
    margin-top: 9.5rem;
  }
}

@media (min-width: 1280px) {
  .main-container{
    max-width: 45rem;
    margin-top: 10rem;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.header > h2{
  font-size: 1.6rem;
}

.theme-icon-btn{
  display: flex;
  align-items: center;
  gap: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: var(--text-primary);
  cursor: pointer;
}

.theme-icon{
  cursor: pointer;
  display: grid;
  place-content: center;
} 

.theme-icon-btn:hover *{
  color: #000;
  fill: #000;
}

.darkMode .theme-icon-btn:hover *{
  color: #90A4D4;
  fill: #90A4D4;
}

.username-form > div{
  padding: 0.6em 0.65em;
  display: grid;
  grid-template-columns: 0.2fr 1fr auto;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.username-form .magnifier-icon{
  display: grid;
  place-content: center;
}

.magnifier-icon > img{
  max-width: 20px;
}

.username-form .username-input{
  border: none;
  padding-block: 0.8em;
  background-color: inherit;
  color: var(--text-heading);
}

.username-form .username-input:focus{
  outline: none;
}

.username-form .search-btn{
  padding-block: 0.75rem;
  padding-inline: 0.9rem;
  border-radius: 10px;
  background-color: var(--primary-clr);
  color: #FFF;
  transition: background-color 0.2s ease-in-out;
}

.search-btn:hover,
.search-btn:focus{
  background-color: #60ABFF;
  cursor: pointer;
}

@media (min-width: 768px){
  .username-form > div{
    padding: 0.75em 0.8em;
    margin-bottom: 1.5rem;
    grid-template-columns: 0.1fr 1fr auto;
  }

  .username-form .search-btn{
    padding-inline: 1.5rem;
  }

  .magnifier-icon > img{
    max-width: 25px;
  }
}

/* ------------------ */
/* User section       */
/* ------------------ */

/* Layout */
.user-info{
  padding: 2rem 1.5rem;
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  grid-template-areas: 
    "avatar acc-info"
    "bio bio"
    "account-data account-data"
    "socials socials";
  grid-template-columns: 70px 1fr;
  column-gap: 1.25rem;
  row-gap: 1.5rem;
}
.avatar{
  grid-area: avatar;
}
.user-account-info{
  grid-area: acc-info;
}
.user-bio{
  grid-area: bio;
}
.user-data{
  grid-area: account-data;
}
.user-socials{
  grid-area: socials;
}

@media (min-width: 768px) {
  .user-info{
    padding: 2.5rem;
    column-gap: 2.25rem;
    grid-template-columns: 117px 1fr;
  }
}

@media (min-width: 1280px) {
  .user-info{
    padding: 3rem;
    grid-template-areas: 
    "avatar acc-info"
    "avatar bio"
    ". account-data"
    ". socials";
  }
}

/* Content styling */
/* AVATAR */
.avatar > img{
  border-radius: 50%;
}

/* ACCOUNT INFO */
.user-name{
  font-size: 1rem;
}
.user-joined-date{
  color: var(--text-accent);
}
.user-username{
  color: var(--primary-clr);
  margin-bottom: 0.3em;
}
/* ACCOUNT BIO */
.user-bio.no-bio{
  opacity: .75;
}

/* ACCOUNT METRICS */
.user-data{
  background-color: var(--background);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
  gap: 0.5em;
  border-radius: 10px;
}
.user-data > div{
  flex: 1;
  text-align: center;
}
.user-data--number{
  font-size: 1.25em;
  font-weight: bold;
}

/* SOCIALS */
.user-socials{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.2em;
}
.user-socials > li{
  flex: 1;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 1em;
}
.user-socials > li > *{
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.user-socials > li > svg{
  margin: 0 auto;
}
.user-socials > li:hover:not(.not-available) > a,
.user-socials > li:focus:not(.not-available) > a{
  text-decoration: underline;
}
.user-socials > li.not-available{
  opacity: .5;
}

@media (min-width: 768px){
  .user-name{
    font-size: 1.6rem;
  }
  .user-data > div{
    text-align: left;
  }
  .user-data--number{
    font-size: 1.45em;
  }

  .user-socials{
    flex-direction: row;
  }
  .user-socials > li{
    flex-basis: 45%;
  }
}

@media (min-width: 1280px){
  .user-account-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .user-name{
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .user-joined-date{
    order: 2;
    width: fit-content;
  }
  .user-username{
    order: 3;
    flex: 1 1 100%;
  }
}